@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kanit:wght@300&display=swap');

body {
    margin: 0;
    background-color: #4194B0;
}

.logo {
    width: 50px;
    height: 50px;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
    text-decoration: underline;
}

.nav a:hover {
    color: #4194B0;
}

.side a:hover {
    color: #1E4F9E;
}

a:hover img {
    opacity: 80%;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.header {
    text-align: left;
    background-color: #1E4F9E;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header a {
    color:white;
}

.header button {
    margin: 20px;
    margin-left: 0;
    background-color: transparent;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 26pt;
    font-family: Fredoka One, cursive;
    color: white;
}

button:hover:before {
    opacity: 1; transform: translateY(0);
}

button:before {
    content: "SUBPAR. SUBJECTIVE. SUBMERGED.";
    position: absolute;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.75s ease-in-out;
}

button:hover span {
    opacity: 0;
    transition: all 0.2s ease-out;
}

button span {
    transform: translateY(0);
    transition: all 1s ease-in;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #040D59;
    margin: 0;
}

.nav * {
    display: inline;
    padding: 0 15px;
}

.nav ul {
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    margin: 0;
    color: white;
    font-size: 10pt;
    font-family: Kanit, sans-serif;
    font-weight: bold;
}

.content {
    margin: 15px 15px;
    margin-bottom: 250px;
    display: flex;
}

.main {
    font-family: Kanit, sans-serif;
    color: #040D59;
    margin-right: 15px;
    width: 100%;
}

.main h2 {
    font-size: 23pt;
    margin-bottom: 0;
}

.main p {
    font-size: 14pt;
}

#content-article {
    font-family: Kanit, sans-serif;
    color: #040D59;
    border-radius: 25px;
    background-color: white;
    padding: 15px 25px;
    padding-bottom: 150px;
    text-align: center;
}

#content-title {
    margin: 5px 5px 25px 5px;
}

#content-title * {
    margin: 0;
}

.side {
    font-family: Kanit, sans-serif;
    font-size: 14pt;
    color: #040D59;
    border-radius: 25px;
    background-color: white;
    padding: 15px 25px;
    width: 30%;
    float: right;
}

.side * {
    margin: 0;
}

.side p {
    text-align: center;
}

.side ul {
    padding: 0 15px;
}

.content::after {
    clear: both;
}

.footer {
    text-align: center;
    background-color: #040D59;
    color: white;
}

.footer p {
    padding-top: 15px;
    font-size: 10pt;
    font-family: Kanit, sans-serif;
}
    
.footer img {
    padding-top: 5px;
    padding-bottom: 25px;
}